.ion-ios-menu-outline{
  margin-top:4px;
}
.title{
  width:110%;
}

app-enterprise.ion-page > ion-content{
  margin-top: 34px;
}
[tabsPlacement=top] > .tabbar {
  top: 46px !important;
}

.list {
  .item {
    text-align:center;
    padding-left: 0;
    background-color:grey;

    .item-inner {
      padding-left: 10px;
      font-size:12px;

      .item-icon {
        display:none;
      }
    }
  }
  .item:hover {
    background-color:#fff;
  }
}
