.filter-orange
{
  border-left: solid 5px;
  border-color:#ff9800;
}
.special-btn-orange
{
  background-color: #ff9800 ;
  font-size: 0.8em;
  width: 75px;
}
.title-filter
{
  color: #656565;
  padding-top: 5px;
}
.title-categ{
  flex-grow:8;
  font-size:14px;
}
.icon-add{
  font-size:17px;
}
.select-button{
  margin-left:-10px;
  overflow: visible;
}
.select-placeholder{
  overflow: visible;
}
.select-text{
  overflow: visible;
}
.btn-remove{
  font-size: 17px;
  color: #ff9800;
  margin-left: 5px;
}