page-enterprise-details.ion-page > ion-content{
    margin-top: 34px;
}page-enterprise-details ion-navbar{
     margin-top: 34px;
 }


.enterprise-details {
    ion-icon {
        font-weight: 600;
        font-size: 20px;
    }
}
.address {
    max-width: 280px;
}
